<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ccorrads.ossp.loginregistration">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
                android:name=".LoginRegisterActivity"
                android:screenOrientation="portrait"
                android:label="@string/app_name"/>
        <activity android:name=".business.CreateBusinessActivity"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>